.video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    margin-bottom: 30px;
}

.textfirst  {

    position:absolute;
    bottom: 20rem;
    z-index: 50;
    font-size: 30px;
    margin-left:40px ;  

    color: rgb(255, 255, 255);
}
h2{
    font-family: 800;
    text-align: center;
    align-items: center;
    font-size: 45px;
    padding-top: 20%;
        margin-left:40px ;  
}
p{
font-size: 30px;
font-family: 400;
text-align: center;
   margin-left:35px ;
}



 .bttnn{
 margin-left: 40%;
    color: #ffffff;
    padding: 8px 80px;
    border-radius:2px ;
align-items: center;
    border: none;
    outline: none;
    background-color: rgb(39, 78, 52);
    
    text-decoration: none;
}
.bttnn:hover{
    padding: 10px 90px;
    background-color: rgb(142, 168, 149);
    text-decoration: none;
   
    transition: 1s;
    
}
.bttnn a{
    text-decoration: none;
    color: white;
}
.bttnn a:hover{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:768px){
    .video {
       height: 50vh;
    }
    .bttnn{
        font-size: 10px;
        
        margin-top: 0px;
        margin-left: 50px;
        padding: 8px 35px;
        border-radius:2px ;
        border: none;
        outline: none;
      
        color: white;
        text-decoration: none;
    } 
    .textfirst  {

        font-size: 35px;
        font-family: 800;
       margin-bottom: 10rem;
        color: white;
    }
    h2{
        margin-top:10px;
        font-family: 800;
        text-align: center;
        align-items: center;
        font-size: 30px;
      padding-top: 0;
          margin-left:10px ;
    }
    p{
    font-size: 20px;
    font-weight: 400;
    margin-left: 25px;
    text-align: left;
    }
     
}
